pyautogui
paddleocr
openai
pypubsub
keyboard
pyperclip
opencv-python
mss
numpy
logging
python-dotenv
scikit-image
#pip install paddlepaddle==3.0.0 -i https://www.paddlepaddle.org.cn/packages/stable/cpu/
